@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Welcome To Questionora!</h1>
<a asp-controller="Question" asp-action="Questions" class="btn btn-info">See All</a>